/* 
* @Author: anchen
* @Date:   2016-02-27 12:46:40
* @Last Modified by:   anchen
* @Last Modified time: 2016-02-27 15:08:55
*/



.content{width: 80%; margin: 0 auto;}

.first,.second,.thirdly,.fourth{margin-bottom: 20px;}
.second h6,.first h6,.thirdly h6,.fourth h6{margin-bottom: 30px ;}
.second h6 i,.first h6 i,.thirdly h6 i,.fourth h6 i{float: left; width: 50px; height: 50px; background: url(../assets/images/start.png) no-repeat; background-size: cover; line-height: 50px;}
.second h6 span,.first h6 span,.thirdly h6 span,.fourth h6 span{float: left; font-size: 20px; color: #2f6df9; margin-top: 18px;}

.con_tag,.second .list{margin-left: 90px; font-size: 16px; line-height: 30px; font-weight: bold;}  
.con_tag xmp{padding-left: 50px;}
.con_tag xmp:nth-child(odd){background: #addcc8;}
.con_tag xmp:nth-child(even){background: #d9eec7;}

.second .list input{border: 1px solid #a67;}
.thirdly video{margin-left: 90px;}
.fourth audio{margin-left: 90px;}